---
import ContactForm from "../components/ContactForm.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1 class="contactpage-title">Contact us today</h1>
    <ContactForm />
</BaseLayout>


<style>
    .contactpage-title {
        margin: auto;
        text-align: center;
        font-size: 4rem;
        margin-top: 4rem;
    }
</style>