
---
const {imgPos, imgsrc, content, title} = Astro.props

let pos = imgPos

if (imgPos === "left"){
    pos = "order: -9999; padding-right: 8rem;"
} else  {
    pos = "order: 9999; padding-left: 8rem;"
}
---

<div class="block">
	<div class="header-content">
		<div class="header-title"><h3>{title}</h3></div>
		<div class="header-body">
			<p>
				{content}
			</p>

            <div class="content-features">
                <ul>
                    <li>
                        <i>
                            <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M10 9.01l.01-.011M14 9.01l.01-.011M10 13.01l.01-.011M14 13.01l.01-.011M10 17.01l.01-.011M14 17.01l.01-.011M6 20.4V5.6a.6.6 0 01.6-.6H12V3.6a.6.6 0 01.6-.6h4.8a.6.6 0 01.6.6v16.8a.6.6 0 01-.6.6H6.6a.6.6 0 01-.6-.6z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </i> 
                        <span>Commercial Services:</span> When it comes to commercial electrical projects, we understand the importance of reliability and efficiency. Our team of skilled electricians is well-versed in handling complex electrical systems for various commercial establishments, including offices, retail spaces, restaurants, and more. 
                    </li>
                    <li>
                        <i>
                            <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M11 21H4a2 2 0 01-2-2v-4.54a2 2 0 01.963-1.71l3.5-2.122a2 2 0 012.074 0l3.5 2.121A2 2 0 0113 14.46V19a2 2 0 01-2 2zM6.5 10V6.46a2 2 0 01.963-1.71l3.5-2.122a2 2 0 012.074 0l3.5 2.121a2 2 0 01.963 1.71V10M16 21h4a2 2 0 002-2v-4.54a2 2 0 00-.963-1.71l-3.506-2.125a2 2 0 00-2.065-.005l-.633.38" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9 21v-3.4a.6.6 0 00-.6-.6H6.6a.6.6 0 00-.6.6V21M18 21v-3.4a.6.6 0 00-.6-.6H16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </i> 
                        <span>Residential Services:</span> At Canberra Electric Masters, we take great pride in making your home safe, comfortable, and energy-efficient. Our residential electrical services cover a wide range of needs, from simple electrical repairs and installations to comprehensive home electrical renovations.
                    </li>
                    
                </ul>
            </div>
            <div class="closing-content">
                <p>
                    When you choose Canberra Electric Solutions, you're choosing a team that values your time and investment. We guarantee a seamless experience from project inception to completion, with a focus on delivering exceptional results that stand the test of time.
                </p>
            </div>
		</div>
	</div>
	<div class="header-image" style=`${pos}`>
		<img src={imgsrc} alt="img" width="500" height="500" />
	</div>
</div>




<style>
    .header-image {
        flex-basis: 80%;
		margin-top: auto;
		margin-bottom: auto;
	}

	.header-image img {
		width: 100%; /* you can use % */
		height: auto;
		object-fit: fill;
        margin: auto;
		
	}

	.header-content {
		width: 100%;
		margin: 4rem 0;
        flex: 1 1 auto
	}

	.header-title h3 {
		font-size: 5rem;
	}

	.header-body p {
		margin: 4rem auto;
	}

    .content-features span {
        font-weight: 600;
        font-size: 1.8rem;
        padding-right: 1rem;
    }

    .content-features i {
        margin: auto ;
        vertical-align: bottom;
        padding-right: 0.5rem;

    }
    
    .content-features li {
        margin: 2rem 0rem;
    }

	@media screen and (width < 640px) {
		.header-content {
			width: 100%;
			margin: 2rem auto;
			flex-grow: 1;
			padding: 0 0;
            text-align: center;
            
		}

		.header-title {
			font-size: 3rem;
		}

		.header-body {
			margin: 4rem auto;
		}

		.header-image {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

        .header-image img {
			width: 100%; /* you can use % */
			height: auto;
			object-fit: fill;
		}
	}

	@media (640px <= width <= 1024px) {
		.header-content {
			width: 100%;
			margin: 2rem auto;
			flex-grow: 1;
			padding: 0 4rem;
            
		}

		.header-title {
			font-size: 4.25rem;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

		.header-body {
			margin-top: 4rem;
			margin-bottom: 6rem;
		}

		.header-image {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}		

		.header-image img {
			width: 100%; /* you can use % */
			height: auto;
			object-fit: fill;
            padding: 0 4rem;
			
		}
	}
</style>