---
const { title } = Astro.props;

const currYear = new Date().getFullYear();
---

<div class="footer">
	<div class="footer-main">
		<div class="footer-company-details">
			<div class="footer-logo">[Logo]</div>
			<div class="footer-description">
				<p style="font-size: 1.6rem;">
					Thank you for considering us for your electrical needs. We look
					forward to serving you and contributing to the growth and development
					of the Canberra community.
				</p>
			</div>

			<div class="footer-business-details">
				<p><strong>ABN:</strong> 04 546879 6548</p>
				<p><strong>ACN:</strong> 546879 6548</p>
			</div>
		</div>
		<div class="footer-contact">
			<h4>Contact</h4>
			<p>0424 458 697</p>
			<p>exampleemail@example.com</p>
			<p>31/103 Mort St Braddon</p>
		</div>
		<div class="footer-nav">
			<h4>Company</h4>
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Services</li>
				<li>Privacy</li>
			</ul>
		</div>
		<div class="social-links">
			<!-- Social Links -->
			<ul>
				<!-- Icon 1 -->
				<li>
					<a href="#">
						<i>
							<svg
								width="32px"
								height="32px"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
								color="#000000"
								><path
									d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5z"
									stroke="#000000"
									stroke-width="1.5"
									stroke-linecap="round"
									stroke-linejoin="round"></path><path
									d="M11 21v-9c0-2.188.5-4 4-4M9 13h6"
									stroke="#000000"
									stroke-width="1.5"
									stroke-linecap="round"
									stroke-linejoin="round"></path>
							</svg>
						</i>
					</a>
				</li>
				<!-- Icon End -->
				<!-- Icon 2 -->
				<li>
					<a href="#">
						<i>
							<svg
								width="32px"
								height="32px"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
								color="#000000"
								><path
									d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5zM7 17v-7"
									stroke="#000000"
									stroke-width="1.5"
									stroke-linecap="round"
									stroke-linejoin="round"></path><path
									d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011"
									stroke="#000000"
									stroke-width="1.5"
									stroke-linecap="round"
									stroke-linejoin="round"></path>
							</svg>
						</i>
					</a>
				</li>
				<!-- Icon End -->
				<!-- Icon 3 -->
				<li>
					<a href="#">
						<i>
							<svg
								width="32px"
								height="32px"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
								color="#000000"
								><path
									d="M23 3.01s-2.018 1.192-3.14 1.53a4.48 4.48 0 00-7.86 3v1a10.66 10.66 0 01-9-4.53s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5 0-.278-.028-.556-.08-.83C21.94 5.674 23 3.01 23 3.01z"
									stroke="#000000"
									stroke-width="1.5"
									stroke-linecap="round"
									stroke-linejoin="round"></path></svg
							>
						</i>
					</a>
				</li>
				<!-- Icon End -->
			</ul>
		</div>
	</div>
	<div class="footer-secondary">
		<p>© <strong>{currYear} {title}</strong>, Inc. All rights reserved.</p>
	</div>
</div>

<style>
	/* ******************** */
	/* ******** Foooter **** */
	.footer-main {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		background-color: rgb(249, 249, 249);
		height: auto;
		margin: 0 auto;
		padding: 8rem 16rem;
	}

	.footer-logo {
		font-size: 4rem;
		padding-bottom: 4rem;
	}

	.footer-business-details {
		padding: 4rem 0rem;
	}
	.footer-business-details p {
		padding: 1rem 0rem;
	}

	.footer-contact {
		grid-column-start: 2;
		grid-column-end: 3;
		text-align: left;
		margin: 0;
		padding: 0 8rem;
	}

	.footer-contact p {
		margin: 4rem 0;
	}

	.footer-nav {
		text-align: left;
		margin: 0;
		padding: 0 8rem;
	}

	.footer-nav li {
		margin: 4rem 0rem;
	}

	.footer-secondary {
		display: flex;
		height: 8rem;
		background-color: rgb(215, 215, 215);
		margin: auto;
	}

	.footer-secondary p {
		margin: auto;
		text-align: center;
		align-items: center;
	}

	.social-links {
		margin: 0rem auto;
		grid-auto-flow: column dense;
	}
	.social-links li {
		padding-bottom: 4rem;
	}



	@media screen and (width < 1080px) {
		.footer-main {
			display: block;
			columns: 1;
			text-align: center;
			margin: 0;
			padding: 4rem 4rem;
		}

		.footer-description {
			margin: 0 8rem;

    }
		.footer-contact {
			text-align: center;
			margin: 0;
			padding: 0 4rem;
		}

		.footer-nav {
			text-align: center;
			margin: 0;
			padding: 0 4rem;
		}
	}



  @media screen and (width < 640px) {
    .footer-description {
			margin: 0 4rem;

    }
  }
</style>
