---
const { title } = Astro.props;

const currYear = new Date().getFullYear();
---

<div class="footer">
	<div class="footer-main">
		<div class="footer-company-details">
			<div class="footer-logo">
				<a href="/" class="nav-logo">
					<img
						src="/images/icons/Logo.webp"
						alt="image alt"
						width="230"
						height="90"
					/>
				</a>
			</div>

			<div class="footer-business-details">
				<p><strong><span>ABN: <br></span></strong> 97 640 730 883</p>
				<p><strong><span>ACN: <br></span></strong> 640 730 883</p>
				<p><strong><span>ELECTRICAL LICENSE: <br></span></strong> 2006 1067</p>
			</div>
		</div>
		<div class="footer-nav">
			<h4>Company</h4>
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Services</li>
				<li>Privacy</li>
			</ul>
		</div>
		<div class="footer-contact">
			<h4>Contact</h4>
			<ul>
				<li>0413 667 856</li>
				<li>tayfun@cbrelectricalsolutions.com.au</li>
			</ul>
		</div>
		
		
	</div>
	<div class="footer-secondary">
		<p>© <strong>{currYear} {title}</strong>, Inc. All rights reserved.</p>
	</div>
</div>

<style>
	/* ******************** */
	/* ******** Foooter **** */
	.footer-main {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		background-color: #272727;
		height: auto;
		margin: 0 auto;
		padding: 8rem 16rem;
	}

	.footer-logo {
		font-size: 4rem;
	}

	.footer-business-details {
		padding: 2rem 0rem;
		color: #fff;
	}
	.footer-business-details span {
		font-size: 1.4rem;
	}
	.footer-business-details p {
		padding: 1rem 0rem;
		color: #fff;
		font-size: 1.8rem;
		color: #fff;
	}

	.footer-contact {
		text-align: left;
		margin: 0;
		padding: 0;
		color: #fff;
	}

	.footer-contact li {
		font-size: 1.6rem;
		margin: 4rem 0;
	}

	.footer-nav {
		text-align: left;
		margin: 0;
		padding: 0 8rem;
		grid-column-start: 3;
		grid-column-end: 4;
		color: #fff;
	}

	.footer-nav li {
		margin: 4rem 0rem;
	}

	.footer-secondary {
		display: flex;
		height: 8rem;
		background-color: #858585;
		margin: auto;
	}

	.footer-secondary p {
		margin: auto;
		text-align: center;
		align-items: center;
		font-size: 1.8rem;
		color: #dddddd;
	}

	.social-links {
		margin: 0rem auto;
		grid-auto-flow: column dense;
	}
	.social-links li {
		padding-bottom: 4rem;
	}



	@media screen and (width < 1080px) {
		.footer-main {
			display: block;
			columns: 1;
			text-align: center;
			margin: 0;
			padding: 4rem 4rem;
		}

		.footer-description {
			margin: 0 8rem;

    }
		.footer-contact {
			text-align: center;
			margin: 0;
			padding: 0 4rem;
		}

		.footer-nav {
			text-align: center;
			margin: 0;
			padding: 0 4rem;
		}
	}



  @media screen and (width < 640px) {
    .footer-description {
			margin: 0 4rem;

    }
  }
</style>
