---

---



<div class="block">
    <div class="header-content">
        <div class="header-title">title</div>
        <div class="header-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
    </div>
    <div class="header-image">
        <img src="src/images/winelle.jpeg" alt="img" width="300" height="200">
    </div>
</div>

<style>

    

    
    .header-image img{
        width: 100%; /* you can use % */
        height: auto;
        flex-grow: 2;
        object-fit: scale-down;
    }

    .header-content {
        margin: 4rem 4rem;
        flex-grow: 1;
    }

    
    .header-title {
        font-size: 5rem;
    } 
    
    .header-body {
        margin: 4rem auto;
    }


    @media screen and (width < 640px) {
        .header-content {
        margin: 2rem auto;
        flex-grow: 1;
        }

        
        .header-title {
            font-size: 5rem;
        } 
        
        .header-body {
            margin: 1rem auto;
        }
    }

</style>