---
let isMobile = false;
---

<nav class="nav">
	<div class="nav-container" id="myTopNav">
		<a href="/" class="nav-logo">
			<img
				src="/images/icons/Logo.webp"
				alt="image alt"
				width="230"
				height="90"
			/>
		</a>

		<ul class="nav-menu">
			<li class="nav-item">
				<a href="/about" class="nav-link">About</a>
			</li>
			<li class="nav-item">
				<a href="services" class="nav-link">Services</a>
			</li>
			<li class="nav-item">
				<a href="contact" class="nav-link">Contact</a>
			</li>
		</ul>
		<!-- TODO Fix Navbar for astro -->
		<a href="/contact" class="nav-cta">Get Started</a>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</div>
</nav>

<script>

	//

	const buttons = document.querySelectorAll("div.hamburger");

	// Handle clicks on each button.
	buttons.forEach((button) => {
		button.addEventListener("click", () => {
			alert("Button was clicked!");
			var x = document.getElementById("myTopNav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		});
	});
</script>

<style>
	/* ********************************** */
	/* ************ Navbar ************** */
	/* ********************************** */
	.nav {
		border-bottom: 1px solid #272727;
	}



	.nav-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		/* justify-content: space-between; */
		align-items: center;
		margin: 0 auto;
		padding: 1rem 16rem;
		
		background-color: #272727;
	}

	.nav-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: auto;
		margin-left: auto;
	}

	.nav-item {
		margin-left: 5rem;
	}

	.nav-link {
		font-size: 1.8rem;
		font-weight: 400;
		color: #fff;
	}

	.nav-link:hover {
		color: #482ff7;
	}

	.nav-cta {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 1.8rem;
		padding: 1.2rem 1.5rem;
		color: #fff;
		background-color: #482ff7;
		border-radius: 0.8rem;
		font-weight: 500;
	}

	.hamburger {
		display: none;
	}

	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: #101010;
	}

	/* ********************************** */
	/* ******** MD - LG Resolution ****** */
	/* ********************************** */
	@media (1024px <=width <=1536px) {
		.nav-container {
			padding: var(--mx-lg);
			background-color: #c2c2c2;
		}
	}

	/* MD - LG Resolution */

	@media (640px <=width <=1024px) {
		.nav-container {
			padding: var(--mx-md);
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			/* justify-content: space-between; */
			align-items: center;
			padding: 1rem 4rem;
			margin: 0 auto;
			background-color: #c2c2c2;
		}

		.nav-menu {
			left: -100%;
			position: fixed;
			flex-direction: column;
			top: 11rem;
			background-color: #fff;
			width: 100%;
			padding-bottom: 100vh;
			border-radius: 0.8rem;
			text-align: center;
			transition: 0.3s;
			box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
			
		}

		.nav-menu.active {
			left: 0;
		}

		.nav-item {
			margin: 2.5rem 0;
		}

		.nav-cta {
			display: none;
		}

		.hamburger {
			margin-left: auto;
			margin-right: 3rem;
			float: right;
			justify-content: end;
			display: block;
			cursor: pointer;
		}
	}

	/* SML  */
	@media screen and (width < 640px) {
		.nav-container {
			padding: var(--mx-sm);

			width: 100%;
			display: flex;
			flex-wrap: wrap;
			/* justify-content: space-between; */
			align-items: center;
			padding: 1rem 4rem;
			margin: 0 auto;
			background-color: #c2c2c2;
		}

		.nav-menu {
			left: -100%;
			position: fixed;
			flex-direction: column;
			top: 11rem;
			background-color: #fff;
			width: 100%;
			padding-bottom: 100vh;
			border-radius: 0.8rem;
			text-align: center;
			transition: 0.3s;
			box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
		}

		.nav-menu.active {
			left: 0;
		}

		.nav-item {
			margin: 2.5rem 0;
		}

		.nav-cta {
			display: none;
		}

		.hamburger {
			margin-left: auto;
			margin-right: 3rem;
			float: right;
			justify-content: end;
			display: block;
			cursor: pointer;
		}
	}
</style>

<script></script>
