:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --mx-sm: 0 4rem;
    --mx-md: 0 8rem;
    --mx-lg: 0 16rem;
    --my-sm: 0 4rem;
    --my-md: 0 8rem;
    --my-lg: 0 16rem;
}




@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 50, 50, 50;
        ;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }

    .hamburger {
        float: right;
        margin-top: 1.5rem;
        border: none;
        background-color: var(--foreground-rgb)
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}



p {
    color: #333;
}

.break {
    flex-basis: 100%;
    height: 0;
}




/* !! GLOBALS */
/** Default */
.block {
    margin: 8rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: var(--mx-lg);
}

/* Size Variants */
.block-sm {
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: var(--mx-lg);
    width: 100%;

}

.block-md {
    margin: 8rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: var(--mx-md);
}

.block-lg {
    margin: 16rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: var(--mx-lg);
}

/* Active Link Color */
.active {
    color: #482ff7;
}

/* ********************************** */
/* ********* XS Resolution ********** */
/* ********************************** */
@media screen and (width < 640px) {

    .block {
        margin: 4rem auto;
        flex-direction: column;
        padding: var(--mx-sm);
    }

    /* Size Variants */
    .block-sm {
        margin: 2rem auto;
    }

    .block-md {
        margin: 4rem auto;
    }

    .block-lg {
        margin: 8rem auto;
    }

}


/* MD - LG Resolution */
@media (640px <=width <=1024px) {

    .block {
        margin: 6rem auto;
        flex-direction: column;
        padding: var(--mx-md);
    }

    /* Size Variants */
    .block-sm {
        margin: 3rem auto;
    }

    .block-md {
        margin: 6rem auto;
    }

    .block-lg {
        margin: 12rem auto;
    }
}



/* ********************************** */
/* ******** MD - LG Resolution ****** */
/* ********************************** */
@media (1024px <=width <=1536px) {
    .nav-container {
        padding: var(--mx-lg);
    }
}