---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Nav from "../components/Nav.svelte";
import '../css/styles.css';

const {title} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- <Navbar /> -->
		<Nav client:load />
		<main>
			<slot />
		</main>
		
		<!-- Footer -->
		<Footer title="CBR Electrical Solutions" />
	</body>
</html>
